<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @animal do |f| %>

          <%= f.input :name, placeholder: "Kitty" %>

          <%= f.input :address, placeholder: "25, rue du petit Musc" %>

          <%= f.input :found_on, as: :text, input_html: {id: "animal-found"} %>

          <%= f.input :category, collection: Animal::CATEGORIES, prompt: "Choose one" %>

          <%= f.submit class: "btn btn-success" %>

      <% end %>
    </div>
  </div>
</div>


